<link rel="stylesheet" href="<%-window.libURL%>libs/css/super.configEditor.css" />
<small class="pull-right msg"></small>
<div class="mb-4"><a href="#" class="submit btn btn-block btn-default"><i class="fa fa-check"></i> <%- lang.Save %></a></div>
<form class="form-group-group red" id="conf_json">
    <small class="pull-right msg"></small>
    <div id="configForHumans" class="better-json-editor pt-2"></div>
</form>
<script src="<%-window.libURL%>libs/js/jsonEditor.js" type="text/javascript"></script>
<script src="<%-window.libURL%>libs/js/super.configEditor.js" type="text/javascript"></script>
